/* Style sheet specific to the test your skills section*/
/* Section Styles */

section h2 {
    text-align: center;
}

/* Test Styles */
#test-window {
    background-color: white;
    width: 90%;
    height: 750px;
    border-radius: 25px;
    padding:10px;
    display: grid;
    grid-template-areas: 
    "log log log log q-log"
    "log log log log q-log"
    "log log log log q-log"
    "log log log log q-log"
    "log log log log q-log"
    "QNA QNA QNA QNA q-log"
    ;
    
}

#test-container {
    display: grid;
    grid-template-areas: 
    "sidebar test"
    ;
    grid-template-columns: 1fr 5fr;
    gap:20px;
}

#test-window div {
    border: 1px solid black
}
#log {
    grid-area: log;
    border-radius: 25px 0 0 0;
}
#QNA {
    grid-area: QNA;
    border-radius: 0 0 0 25px;
}
#q-log {
    grid-area: q-log;
    border-radius: 0 25px 25px 0;
}
/* Secondary Nav Styles */

#topics-nav {
    border-right: 3px solid;
    padding:10px;
    
    
}

#topics-nav ul {
    list-style: none;
    padding:0;
}

li {
    color:white;
}