/* Style sheet specific to the test your skills section*/
/* Section Styles */

section h2 {
    text-align: center;
}

/* Test Styles */
#test-window {
    background-color: white;
    max-width: 90%;
    width: 60vw;
    height: 50vh;
    border-radius: 25px;
    padding:10px;
    display: grid;
    grid-template-areas: 
    "log log log log q-log"
    "log log log log q-log"
    "log log log log q-log"
    "log log log log q-log"
    "log log log log q-log"
    "QNA QNA QNA QNA q-log"
    ;
    /* Below is a fix for grid template stretching with content */
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
}

#test-container {
    display: grid;
    grid-template-areas: 
    "sidebar test"
    ;
    grid-template-columns: 1fr 5fr;
    gap:20px;
    
}

#test-window div,p {
    border: 1px solid black;
    padding:10px;
    color:black;
}



#log {
    grid-area: log;
    border-radius: 25px 0 0 0;
    overflow: auto;
}
#QNA {
    grid-area: QNA;
    border-radius: 0 0 0 25px;
    overflow:auto;
    
}
#qlog {
    grid-area: q-log;
    border-radius: 0 25px 25px 0;
    overflow: auto;
}

#test-options input {
    width:50px;
}

#QNA p, label, input {
    border: 1px solid black;
}
    

#test-options {
    border: 1px solid black;
    padding:10px;
    margin: 10px;
}
/* Secondary Nav Styles */

#topics-nav {
    border-right: 3px solid;
    padding:10px;
    margin-top:-10px;
    
    
}

#topics-nav ul, li {
    list-style: none;
    padding:0;
    color:white;
}

#topics-nav li:hover {
    cursor:pointer;
    font-weight: bold;
}

