/* Style sheet specific to the test your skills section*/
/* Section Styles */

section h2 {
    text-align: center;
}
/* Method to hide arrows on number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  /* Firefox */
}

/* Test Styles */
#test-window {
    
    max-width: 90%;
    width: 60vw;
    height: 60vh;
    border-radius: 25px;
    padding:10px;
    display: grid;
    grid-template-areas: 
    "log log log log "
    "log log log log "
    "log log log log "
    "log log log log "
    "log log log log "
    "QNA QNA QNA QNA"
    ;
    /* Below is a fix for grid template stretching with content */
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
}

#test-container {
    margin:auto;
    display:none;
    
}
#test-window {
    margin: auto;
}

#test-window div,p {
    border: 3px solid #ee6c4d;
    padding:10px;
    color:white;
}

#testHeader {
    text-align: center;
}

#log {
    grid-area: log;
    border-radius: 25px 25px 0 0;
    overflow: auto;
}
#log p {
    border-radius: 15px;
}
#QNA {
    grid-area: QNA;
    border-radius: 0 0 25px 25px;
    overflow:hidden;
    
}


#test-options input {
    width:50px;
}

#QNA p, label, input {
    
    border:none;
    padding:5px;
}

    

#test-options {
    border: 1px solid black;
    padding:10px;
    margin: 10px;
}

