/* Style sheet specific to the test your skills section*/
/* Section Styles */

section h2 {
    text-align: center;
}
/* Method to hide arrows on number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  /* Firefox */
}

/* Test Styles */
#test-window {
    
    max-width: 90%;
    width: 60vw;
    min-height: 70vh;
    border-radius: 25px;
    padding:10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

#test-container {
    margin:auto;
    display:none;
    
}
#test-window {
    margin: auto;
}

#test-window div,p {
    border: 3px solid #ee6c4d;
    padding:10px;
    color:white;
    text-align: center;
}

#testHeader {
    text-align: center;
}

#log {
    grid-area: log;
    border-radius: 0px 0px 25px 25px;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;
    gap:10px;
    padding: 10px;
    min-height:200px;
    
}
#log p {
    border-radius: 15px;
    flex-grow: 1;
}
#QNA {
    grid-area: QNA;
    border-radius: 25px 25px 0 0;
    overflow:hidden;
    height:160px;
    
    
}


#test-options input {
    width:50px;
}

#QNA p, label, input {
    border:none;
    padding:5px;
}

    

#test-options {
    border: 1px solid black;
    padding:10px;
    margin: 10px;
}

